body {
    background-color: black;
    margin: 0;
}


.item {
    width: 150px;
    height: 150px;
    border: 1px white solid;
    margin: 10px;
    background-color: darksalmon;
    font-size: 120px;
    text-align: center;
   
}