body {
    background-color: black;
    margin: 0;
}
table {
    width: 480px;
    height: 480px;
    margin: auto;
    margin-top: 30px;
    border-collapse: separate;
}

td {
    width: 33%;
    height: 33%;
    border: 1px white solid;
    background-color: darksalmon;
    font-size: 80px;
    padding:0;
    box-shadow: 10px 10px 10px 10px;
    margin: 10px !important;
    
}
.item {
    text-align: center;
   
    padding-bottom: 20px;
}
.winner {
    color: white;
    text-align: center;
}